# Ignore Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# Ignore macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Ignore common temporary files
*.tmp
*.bak
*~

# Node.js
node_modules/
